@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');



*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: rgb(3, 3, 43);
    color: white;
}

header{
    animation: gradient 30s linear alternate infinite;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right,rgb(67, 67, 226),rgb(111, 11, 11),rgb(64, 5, 100));
    background-size: 300% 300%;
    border-radius: 10px;
    display: flex;
}

header img{
    height: 15%;
    width: 15%;
}

h1{
    font-family: arvo;
    align-self: center;
}

h1:hover{
    transition: color 3s, transform 10s;
    color: rgb(228, 228, 138);
}

section{
    background-color: rgba(0, 0, 0, 0.918);
    margin-top: 10px;
    display: flex;
}

section > h2{
    justify-items: center;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}