@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');



*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


body{

    color: white;
    background: linear-gradient(to left,rgb(1, 1, 63),black,rgb(56, 0, 93));

}

header{
    animation: gradient 30s linear alternate infinite;
    padding: 10px;
    background: linear-gradient(to right,rgb(67, 67, 226),rgb(111, 11, 11),rgb(64, 5, 100));
    background-size: 300%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

header img{
    height: 15%;
    width: 15%;
}

h1{
    font-family: arvo;
    align-self: center;
}

h1:hover{
    transition: color 3s, transform 10s;
    color: rgb(228, 228, 138);
}

section{
    background-color: rgba(0, 0, 0, 0.786);
    margin: 30px;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 30px;
    max-width: 60%;
    min-width: none;
    margin-inline: auto;

}

section > .imagem{
    width: 200px;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60%;
    transition: transform 2s;
}

section > .imagem:hover{
    transform: scale(0.8);
    border: 0.5px solid rgba(255, 255, 255, 0.467);
}

section div {
    background-color: rgba(12, 7, 59, 0.308);
    border-radius: 20px;
    padding: 10px;
}

section div p{
    font-family: 'Noto Sans', sans-serif;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(42, 4, 75);
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px black;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a p:hover{
    color: rgb(110, 110, 174);
    transition: 2s color;
}


#sol{
    background-image: url(images/sol.jpeg);
}

#mercurio{
    background-image: url(images/Mercurio.jpeg);
}

#venus{
    background-image: url(images/Venus.jpeg);
}

#terra{
    background-image: url(images/Terra.jpeg);
}

#marte{
    background-image: url(images/Marte.jpeg);
}

#jupiter{
    background-image: url(images/jupiter.jpg);
}

#saturno{
    background-image: url(images/Saturno2.jpeg);
}

#urano{
    background-image: url(images/Urano.jpeg);
}

#netuno{
    background-image: url(images/Netuno.jpeg);
}






@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}